body {
    background-image: url("https://wallpapers.com/images/featured-small/hexagon-background-kqrbsulyg4ptc80k.webp");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    background-color: #fffbef;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-style: dotted;
    border-color: blue;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 250px;
    margin-top: 20px;
}

p {
    text-align: justify;
    font-style: italic;
    background-color: hsl(44, 100%, 97%);
    padding: 20px;

    border: 20px, black;
    border-top-style: groove;
    border-bottom-style: double;
    border-right-style: dotted;
    border-left-style: dashed;

    width: 500px;
}

span {
    font-weight: bold;
    font-style: italic;
    color: rgb(54, 63, 189);

    margin-left: 2px;
    margin-right: 5px;
}
